<div class="alignment" style="height: <%= (@query.nalen % 36) * (15 * 6.5) %>px">
  <div class="ruler"><%= ruler(@query.nalen) %></div>
  <div class="translation"><%= @protein.gsub(/(.)/, ' \1 ') %></div>
  <div class="query"><%= @query.naseq.upcase %></div>
  <% @hits.each_with_index do |hit, index| %>
    <div class="target target-<%= index + 1 %>"><%= hit[:target] -%></div>
  <% end %>
</div>

<% @hits.each do |hit| %>
  <h3><%= hit[:hit].target_id %></h3>
  <dl>
    <% %w{ query_len target_len query_start query_end }.each do |cmd| %>
      <dt><%= cmd %></dt><dd><%= hit[:hit].send(cmd) %></dd>
    <% end %>
  </dl>
<% end %>

<pre style="display: none"><%= @report %></pre>